.main {
  display: flex;
  align-items: center;
  height: 100px;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
}

.left {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.userName {
  font-size: 1.2rem;
}
