.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid wheat;
}

.buttons{
    border: 1px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-top: 10px;
}